/* ---------------- Text ---------------- */
body {
    font-family: 'Mulish', sans-serif;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
}

h1 {
    font-family: "Caveat", cursive;
}

h4 {
    font-size: 1.1em;
    font-weight: 700;
    padding-top: .7em;
    line-height: 1.4em;
}

.lead {
    font-size: 1.7em;
    color: black;
    font-weight: 700;
    padding-bottom: 30px;
}
@media (min-width: 768px) { 
    .lead { 
        width: 50vw;
        margin: auto;
    }
}


/* ---------------- Button ---------------- */
.button-primary {
    border-radius:20em;
    background-color: #92278F;
    color: white;
    font-weight: 700;
    padding: 8px 32px;
    border: 2px solid #92278F;
}
.button-primary:hover{
    background-color: white;
    color: #92278F;
    font-weight: 700;
    border: 2px solid #92278F;

}

/* ---------------- Images ---------------- */
.no-padding {
    padding-left: 0;
    padding-right: 0;
  }


.img-half {
    object-fit: cover;
    width: 100vw;
    height: 500px;
}
@media (min-width: 768px) { 
    .img-half { 
        width: 50vw; 
    }
}

.img-full {
    object-fit: cover;
    width: 100vw;
    height: 500px;
}
@media (min-width: 1200px) { 
    .img-full { 
        height: 400px;
    }
}


/* ---------------- Jumbotron ---------------- */

.jumbotron {
    padding: 30px;
    background-image: url('../images/img-hero.png');
    background-size: cover;
    margin: 0;
    height: 600px;
    background-color: white;
}

.vertical-align {
  display:0;
  display:flex;
  -webkit-align-items:flex-end;
  align-items:flex-end;
}


/* ---------------- Navigation ---------------- */
.navbar {
    background-color: #901CAD;
}

.nav-item {
    padding: 5px 25px 5px 0;
    font-weight: 700;
}

.item-last {
    padding-right: 30px;
}


.nav-logo {
    margin-right: 10px;
}


/* ---------------- Color Bars ---------------- */
.color-bar {
    height: 10px;
}

.green-bar {
    background-color: #8CC63F;
}

.orange-bar {
    background-color: #FCB040;
}

.blue-bar {
    background-color: #24AAE1;
}


/* ---------------- Pull Quotes ---------------- */

.pull-quote-quote {
    font-size: 200px;
    font-family: "Playfair Display", serif;
    color: #901CAD;
    opacity: 0.5;
    margin-top: -80px;
    margin-bottom: -250px;
}

.pull-quote-body {
    font-size: 1.3em;
    line-height: 2em;
    padding-top: 22px;
}

.pull-quote-highlight { 
    font-size: 2em;
    margin-top: -10px;
}
@media (min-width: 768px) { 
    .pull-quote-highlight { 
        font-size: 3em;
        margin-top: -30px;
    }
}

.reduced-margin-bottom {
    margin-bottom: -25px;
}

mark {
    font-family: "Caveat", cursive;
    background-color:#DEBEDD;
}
@media (min-width: 768px) { 
    mark { 
        display: inline-block;
        line-height: 0em;
        padding-bottom: 0.5em;
        padding-top:0;
    }
}


/* ---------------- Explanations ---------------- */
.main-explanations {
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 0 1.5em;
}
@media (min-width: 768px) { 
    .main-explanations { 
        margin: 0;
        padding: 0 3em;
    }
}
@media (min-width: 992px) { 
    .main-explanations { 
        padding: 0 5em;
    }
}
@media (min-width: 1200px) { 
    .main-explanations { 
        padding: 0 8em;
    }
}

.form-spacing {
    padding: 0 1.5em;
}
@media (min-width: 768px) { 
    .form-spacing { 
        margin: 0;
        padding:0;
    }
}


/* ---------------- Learn More ---------------- */
.learn-more-card {
    border: 0px;
}

.learn-more-button {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
}
.learn-more-button:focus {
    box-shadow: 0 0 0 0;
}

.chevron {
    margin-left: 6px;
    opacity: 0.8;
}

.more-links-container {
    padding-top: .8em;
}


.about-pic {
    object-fit: cover;
    width: 100vw;
    height: 300px;
}
@media (min-width: 1200px) { 
    .about-pic { 
        height: 200px;
    }
}

button[aria-expanded=true] .icon-chevron-down {
    display: none;
 }
 button[aria-expanded=false] .icon-chevron-up {
    display: none;
 }


/* ---------------- Footer ---------------- */
footer {
    background: grey;
    padding: 30px 0;
    color: white;
}